*{
	margin:0px;
	padding: 0px;
}

.div1{
	display: flex;
	align-items: center;
	justify-content: center;
	margin:35px auto;
	width: 93%;
	border: 1px solid;

}
.shell{
	border:1px solid #231E1C;
	width:470px;
	height: 300px;
	margin:20px auto;
	border-radius: 4px;
	background-color: #231E1C;
	box-shadow: 2px 2px 4px #696969;
	color: #fff;
}
header{
	display:flex;
	align-items: center;
	justify-content: right;
	border-bottom: 1px solid #fff;
	height:34px;

}
header img{
	display: block;
	margin:0 5px;
	width: 20px;
}
/* main*